.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Outfit", sans-serif;
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .header__logo {
    font-size: var(--size-xs);
    font-weight: bold;
  }
  
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
    font-size: var(--size-xs);
    font-weight: 600;
  }
  
  .header__link {
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s;
  }
  
  .header__link:hover {
    color: var(--accent);
  }
  
  .header__btn__container {
    font-size: var(--size-xs);
  }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
