.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--background);
  padding: 0.5em 1em;
  border-radius: 20px;
  box-shadow: 0px 2px 15px 0px rgb(47, 39, 206);
  transition: transform 0.8s, box-shadow 0.8s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 0px rgb(47, 39, 206);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* Uncomment when working with breakpoints */
  border: 1px solid red;
}

.section {
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
